$backgroundPage: #f8f8f8;
$backgroundPage2: #f5f5f5;
$colorDefault: #3face4;
$colorDefaultOld: #288bbc;
$blue: #187bcd;
$colorBorder: #ced4da;
$pink: #f85084;
$pinkOld: #ff296d;
$green: #0ab110;
$darkGreen: #006400;
$purple: #be2ed6;
$darkPurple: #7600bc;
$orange: #ffb347;
$orangeDarkMid: #fa9c1b;
$darkOrange: #ffa500;
$cyan: #00ecfa;
$cyanTwo: #01ffff;
$cream: #fffdd0;