@import 'variables/font';
@import 'variables/color';
@import 'variables/responsive';

.btn-card{
    display: flex;
    position: relative;
    padding: 15px 40px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $colorDefault;
    border: 1px solid $colorDefault;
    outline: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    letter-spacing: 0.5px;
    overflow: hidden;
    &:hover{
        background-color: transparent;
        color: $colorDefault;
    }

    i{
        display: none;
        margin: 1px 0 0 10px;
    }

    .loading-btn{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: $colorDefault;
        cursor: not-allowed;
        justify-content: center;
        align-items: center;

        .loading-circle{
            display: flex;
            height: 27px;
            width: 27px;
            border-radius: 500px;
            border: 2px solid #fff;
            border-top-color: $colorDefault;
            transform: rotate(0);
            animation: load 0.6s ease infinite;
        }
    }
}

.cancel-img-detail-content{
    background-color: #df2c14;
    &:hover{
        background-color: #c61a09;
    }
}

.not-present-btn{
    background-color: $pinkOld;
    border: 1px solid $pink;
    &:hover{
        background-color: transparent;
        color: $pink;
    }
}

.pagination-arrow{
    background-color: transparent;
    color: $colorDefault;
    border: 1px solid #fff;
    &:hover{
        background-color: $colorDefault;
        border: 1px solid $colorDefault;
        color: #fff;
    }
}

.disable-pagination{
    background-color: transparent;
    color: $colorDefault;
    border: 1px solid transparent;
    cursor: default;
    &:hover{
        background-color: transparent;
        color: $colorDefault;
    }
}

.pagination-number{
    background-color: transparent;
    color: $colorDefault;
    border: 1px solid #fff;
    &:hover{
        background-color: $colorDefault;
        border: 1px solid $colorDefault;
        color: #fff;
    }
}

.pagination-number-active{
    background-color: $colorDefault;
    &:hover{
        background-color: $colorDefault;
        border: 1px solid $colorDefault;
        color: #fff;
    }
}

@keyframes load {
    to{
        transform: rotate(360deg);
    }
}