@import 'variables/color';
@import 'variables/font';
@import 'variables/responsive';

@mixin mobileNameNav {
    @media (max-width: $sizeMobileUploadBlog) {
        @content;
    }
}

.wrapp{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    min-width: 120px;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,0.3);
    margin-top: 150px;
    margin-left: -30px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    overflow: hidden;

    .container-scroll{
        display: flex;
        flex-direction: column;
    }

    .menu{
        display: flex;
        font-size: 13px;
        color: $fontColor3;
        list-style: none;
        padding: 10px 20px;
        transition: 0.2s ease-in-out;
        font-family: 'Mulish', sans-serif;
        &:hover{
            background-color: $colorDefault;
            color: #fff;
        }
    }
}

.wrapp-notif{
    width: 300px;

    @include mobileNameNav(){
        width: 260px;
    }
}

.overlay{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999999999999999;
    background: rgba(0,0,0,0.6);
}