@import 'variables/color';
@import 'variables/font';
@import 'variables/responsive';

@mixin mobileWrappActive {
    @media (max-width: $sizeMobileOnNav) {
        @content;
    }
}

.wrapp {
    display: flex;
    flex-direction: column;
    padding: 120px 20px 40px 270px;
    // color: $fontColor1;
    min-height: 100vh;
    // width: 100vw;
    background-color: $backgroundPage2;
    transition: 0.2s ease-in-out;

    @include mobileWrappActive() {
        padding: 120px 10px 40px 10px;
    }

    .container {
        display: flex;
        justify-content: center;

        .content {
            display: flex;
            flex-direction: column;
            width: 1300px;

            .title {
                display: flex;
                flex-wrap: wrap;
                text-align: start;
                color: $fontColor1;
            }

            .white-content {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                width: 100%;
                padding: 40px 30px;
                margin-top: 50px;
                border-radius: 5px;
                box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);

                .title-info {
                    display: flex;
                    text-align: start;
                    margin: 0px 0px 20px 0px;
                    font-size: 20px;
                    color: $fontColor1;
                }

                .total-patient-waiting{
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    font-size: 14px;
                    color: $fontColor3;
                    margin-bottom: 15px;

                    .desc{
                        display: flex;
                        text-align: start;
                        margin-right: 5px;
                    }

                    .number{
                        display: flex;
                        text-align: start;
                        font-weight: bold;
                        color: $pinkOld;
                    }
                }
            }
        }
    }
}

.wrapp-active {
    padding: 120px 20px 40px 90px;

    @include mobileWrappActive() {
        padding: 120px 10px 40px 10px;
    }
}