@import 'variables/color';
@import 'variables/responsive';
@import 'variables/font';

@mixin smallPaymentInfoChart {
  @media (max-width: 1080px) {
    @content;
  }
}

@mixin mobileWrappActive {
  @media (max-width: $sizeMobileOnNav) {
    @content;
  }
}

@mixin maxDesktopOverview {
  @media (min-width:1230px) and (max-width: 1500px) {
    @content;
  }
}

@mixin desktopMdOverview {
  @media (min-width:916px) and (max-width: 1230px) {
    @content;
  }
}

@mixin tabletMdOverview {
  @media (min-width:580px) and (max-width: 916px) {
    @content;
  }
}

@mixin mobileOverview {
  @media (max-width: 580px) {
    @content;
  }
}

.wrapp {
  display: flex;
  flex-direction: column;
  padding: 120px 20px 40px 270px;
  // color: $fontColor1;
  min-height: 100vh;
  width: 100vw;
  background-color: $backgroundPage2;
  transition: 0.2s ease-in-out;

  @include mobileWrappActive() {
    padding: 120px 10px 40px 10px;
  }

  .container {
    display: flex;
    justify-content: center;
    width: 100%;

    .content {
      display: flex;
      flex-direction: column;
      width: 1300px;
      overflow-x: auto;

      // patient treatment
      .title {
        color: $fontColor3;
      }

      // container overview
      .container-overview {
        // display: flex;
        // flex-wrap: wrap;
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(auto-fit, (100%/4.5));
        grid-gap: 5px;

        @include maxDesktopOverview() {
          grid-template-columns: repeat(auto-fit, (100%/3.5));
        }

        @include desktopMdOverview(){
          grid-template-columns: repeat(auto-fit, (95%/2));
        }

        @include tabletMdOverview(){
          grid-template-columns: repeat(auto-fit, (95%/2));
        }

        @include mobileOverview(){
          grid-template-columns: repeat(auto-fit, (100%));
        }
      }

      // btn filter year
      .filter-years {
        display: flex;
        width: 100%;
        justify-content: flex-end;
      }

      .trafic-presence {
        height: 700px;
      }

      // payment information
      .chart-information {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
        padding: 10px;

        .chart-info-group {
          display: flex;
          background-color: #fff;
          box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3);
          border-radius: 5px;
          padding: 10px;
          justify-content: center;
          align-items: center;

          @include smallPaymentInfoChart() {
            flex-direction: column;
          }
        }

        .right {
          max-height: 600px;
          width: 35%;

          @include smallPaymentInfoChart() {
            max-height: 350px;
            width: 100%;
          }
        }

        .left {
          max-height: 600px;
          width: 63%;

          @include smallPaymentInfoChart() {
            width: 100%;
            margin-top: 30px;
          }
        }
      }

      .earnings-information{
        .right{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: start;
          width: 30%;
          padding: 40px 30px;
          overflow-y: auto;

          @include smallPaymentInfoChart() {
            max-height: 350px;
            width: 100%;
          }

          .total-earnings{
            display: flex;
            text-align: start;
            font-size: 28px;
            color: $pinkOld;

            @include mobileOverview(){
              font-size: 20px;
            }
          }

          .title{
            display: flex;
            text-align: start;
            font-size: 16px;
            margin-top: 10px;
          }

          .desc-earnings{
            display: flex;
            text-align: start;
            margin-top: 40px;
            color: $fontColor3;
            font-size: 14px;
          }

          .notes{
            display: flex;
            text-align: start;
            color: $pink;
            font-size: 14px;
            margin-top: 10px;
          }
        }
        .left{
          width: 68%;

          @include smallPaymentInfoChart() {
            width: 100%;
            margin-top: 30px;
          }
        }

        @include smallPaymentInfoChart() {
          flex-direction: column;
        }
      }
    }
  }
}

.wrapp-active {
  padding: 120px 20px 40px 90px;

  @include mobileWrappActive() {
    padding: 120px 10px 40px 10px;
  }
}