@import 'variables/color';
@import 'variables/responsive';
@import 'variables/font';

@mixin mobileWrappActive {
  @media (max-width: $sizeMobileOnNav) {
    @content;
  }
}

.wrapp {
  display: flex;
  flex-direction: column;
  padding: 120px 20px 40px 270px;
  // color: $fontColor1;
  min-height: 100vh;
  width: 100vw;
  background-color: $backgroundPage2;
  transition: 0.2s ease-in-out;

  @include mobileWrappActive() {
    padding: 120px 10px 40px 10px;
  }

  .container{
    display: flex;
    justify-content: center;
    width: 100%;

    .content{
      display: flex;
      flex-direction: column;
      width: 1300px;
      overflow-x: auto;
  
      // patient treatment
      .title {
        color: $fontColor1;
      }

      // btn filter year
      .filter-years{
        display: flex;
        width: 100%;
        justify-content: flex-end;
      }

      .trafic-presence{
        height: 700px;
      }

      // payment information
      .payment-information{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
        padding: 10px;

        .payment-info-group{
          display: flex;
          background-color: #fff;
          box-shadow: 0 2px 3px -1px rgba(0,0,0,0.3);
          border-radius: 5px;
          padding: 10px;
        }

        .right{
          max-height: 500px;
          width: 35%;
        }

        .left{
          max-height: 500px;
          width: 60%;
        }
      }
    }
  }
}

.wrapp-active {
  padding: 120px 20px 40px 90px;

  @include mobileWrappActive() {
    padding: 120px 10px 40px 10px;
  }
}