@import 'variables/color';
@import 'variables/font';
@import 'variables/responsive';

@mixin tablet {
    @media (max-width: $sizeTabletUploadBlog) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $sizeMobileUploadBlog) {
        @content;
    }
}

.wrapp-loading{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999999999999999;

    .loading-circle{
        display: flex;
        height: 50px;
        width: 50px;
        border: 2.5px solid #fff;
        border-top-color: transparent;
        border-radius: 500px;
        animation: load 0.6s ease infinite;
    }
}

.loading-auth{
    position: static;
    height: 180px;
    width: 45%;
    border-radius: 10px;
    background-color: #fff;

    @include tablet(){
        width: 100%;
    }

    @include mobile(){
        width: 100%;
    }
}

@keyframes load {
    to{
        transform: rotate(360deg);
    }
}