@import 'variables/font';
@import 'variables/color';
@import 'variables/responsive';

.container-category {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    margin: 15px 10px;
    color: $fontColor3;

    .category-blog-id{
        display: flex;
        font-size: 14px;
    }

    .select-category {
        margin: 20px;
    }
}

.select-year-pt{
    padding: 10px 13px 10px 10px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}