@import 'variables/color';
@import 'variables/responsive';
@import 'variables/font';

@mixin smallPaymentInfoChart {
    @media (max-width: 768px) {
      @content;
    }
  }

.wrapp{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 30px;
    background: #fff;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,0.3);
    border-radius: 5px;
    overflow-x: auto;
}

.total-patient-treatment-on-year{
    max-height: 600px;

    @include smallPaymentInfoChart(){
        max-height: 350px;
    }
}