@import 'variables/color';
@import 'variables/font';
@import 'variables/responsive';

.wrapp{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 99999999999999999999999 !important;
    justify-content: center;
    overflow-y: auto;

    .content{
        display: flex;
        flex-direction: column;
        height: fit-content;
        position: relative;
        width: 100%;
        max-width: 400px;
        margin: 60px 10px;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 3px 8px -1px rgba(0,0,0,0.4);
        padding: 40px 20px 30px 20px;

        .close{
            display: flex;
            top: 20px;
            right: 20px;
            position: absolute;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            color: $fontColor2;

            i{
                font-size: 16px;
            }
        }
    }
}